.error-box {
  max-width: 1280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-title {
  font-family: "Inter", "Sans-serif", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  color: #ffffff;
  margin: 0;
}

.error-message {
  font-family: "Inter", "Sans-serif", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin: 0;
}

.error-back {
  font-family: "Inter", "Sans-serif", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
  margin-top: 190px;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .error-title {
    font-size: 80px;
    line-height: 96px;
  }
  .error-message {
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
  }
  .error-back {
    font-size: 12px;
    line-height: 15px;
    margin-top: 290px;
  }
}
