.form {
  width: 358px;
  display: flex;
  flex-direction: column;
}

.form-link-title {
  font-family: "Inter", "Sans-serif", "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #8b8b8b;
  text-decoration: none;
}
.form-link {
  font-family: "Inter", "Sans-serif", "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #4285f4;
  text-decoration: none;
}
.form-link:hover {
  opacity: 70%;
}
.serverErrorStatus {
  text-align: center;
  width: 100%;
  display: block;
  font-family: "Inter", "Sans-serif", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  margin-top: 126px;
}
.form__submit-button-log-reg {
  width: 396px;
  height: 45px;
  margin-top: 20px;
  margin-bottom: 14px;
  border-radius: 3px;
  padding: 0;
  border: none;
  font: inherit;
  background-color: #4285f4;
  cursor: pointer;
  font-family: "Inter", "Sans-serif", "Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.form__submit-button-log-reg_unvalid {
  cursor:not-allowed;
}

.form__submit-button-log-reg:hover {
  opacity: 80%;
}

.form__set {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.form__field {
  position: relative;
  width: max-content;
  height: max-content;
  font-family: "Inter", "Sans-serif", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .form {
    width: 260px;
  }
  .form__submit-button-log-reg {
    margin: 20px 0 20px 0;
    width: 260px;
    font-size: 12px;
    line-height: 14px;
  }
  .form-link-title {
    font-size: 12px;
    line-height: 14px;
  }
  .form-link {
    font-size: 12px;
    line-height: 14px;
  }
  .serverErrorStatus {
    margin-top: 200px;
  }
}
