.loaderPage-box{
position:fixed;
width: 100vw;
height: 100vh;
background-color: #202020;
z-index: 3;
}

.loaderPage {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3ddc84;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
}
.loaderPage:before,
.loaderPage:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: white;
  transform: rotate(0deg) translate(30px);
  animation: rotate 1s ease infinite;
}
.loaderPage:after {
  animation-delay: 0.5s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg) translate(30px);
  }
}
