.card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-template-rows: repeat(4, auto);
  row-gap: 38px;
  column-gap: 20px;
  margin: 70px 70px 0 70px;
  justify-content: center;
}
.card-list__button {
  width: 320px;
  height: 36px;
  background-color: #2f2f2f;
  border-radius: 6px;
  border: none;
  font-family: "Inter", "Sans-serif", "Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin: 50px 0 80px 0;
}

@media screen and (min-width: 500px) and (max-width: 780px) {
  .card-list {
    grid-template-columns: repeat(auto-fill, 339px);
    row-gap: 30px;
    column-gap: 30px;
    margin: 70px 30px 0 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 499px) {
  .card-list {
    grid-template-columns: repeat(auto-fill, 300px);
    row-gap: 34px;
    margin: 70px 10px 0 10px;
  }
}
