.signInPage {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.signIn__container {
  width: 396px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.signIn__image {
  width: 38px;
  height: 38px;
}

.signIn___title {
  font-family: "Inter", "Sans-serif", "Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 1);
  margin: 34px 0 36px 0;
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .signIn__container {
    width: 260px;
    align-items: center;
  }

  .signIn___title {
    margin: 46px 0 76px 0;
  }
}
