.form__input-log-reg {
  width: 396px;
  font-family: "Inter", "Sans-serif", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 13px;
  margin-bottom: 21px;
  outline: none;
}
.form__input-log-reg:invalid {
  color: #ee3465;
}

.form__input-log-reg:active {
  border-bottom: 1px solid #3456f3;
}
.form__input-log-reg:focus {
  border-bottom: 1px solid #3456f3;
}
.form__input-error {
  display: none;
  font-family: "Inter", "Sans-serif", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  position: absolute;
  top: 50px;
  left: 0;
  transition: 0.3s;
  width: 358px;
}
.form__input-error_active {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 750px) {
  .form__input-log-reg {
    width: 260px;
    padding-bottom: 8px;
    margin-bottom: 26px;
  }
  .form__input-error {
    width: 280px;
  }
}
