.footer-container {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
}
.footer-container_disabled {
  display: none;
}
.footer-title {
  font-family: "Inter", "Sans-serif", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #8b8b8b;
  margin: 61px 0 0 0;
  text-align: center;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
}
.footer-information {
  display: flex;
  width: 100%;
  height: 56px;
  justify-content: space-between;
  align-items: center;
}
.footer-information__text {
  font-family: "Inter", "Sans-serif", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #ffffff;
  width: min-content;
}
.footer-information__text:nth-child(1) {
  margin-right: 20px;
}
.footer-information__text-year {
  width: 100%;
}
.footer-information__box {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .footer-container {
    padding-left: 18px;
    padding-right: 18px;
  }
  .footer-title {
    font-size: 12px;
    line-height: 14px;
    margin: 59px 0 0 0;
  }
  .footer-information__box {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .footer-information {
    flex-direction: column-reverse;
    margin-top: 84px;
  }
  .footer-information__tex_year {
    color: #8b8b8b;
    text-align: center;
  }
  .footer-information__text:nth-child(1) {
    margin-right: 0;
  }
}
