.promo-page {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #073042;
}
.promo-container {
  max-width: 1280px;
  position: relative;
  width: 100%;
  height: 560px;
  display: flex;
  flex-direction: column;
}
.promo-title {
  font-family: "Inter", "Sans-serif", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 52px;
  color: rgba(255, 255, 255, 1);
  width: 626px;
  margin: 50px 0px 0px 70px;
}
.promo-icon {
  width: 722px;
  height: 244px;
  position: absolute;
  right: 70px;
  bottom: 60px;
}

@media screen and (min-width: 750px) and (max-width: 900px) {
  .promo-container {
    position: relative;
    height: max-content;
    align-items: center;
  }
  .promo-title {
    width: 680px;
    margin: 300px 0 0 0;
    text-align: center;
  }
  .promo-icon {
    width: 680px;
    height: 230px;
    position: static;
    margin: 140px 0 70px 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 749px) {
  .promo-container {
    position: relative;
    height: max-content;
    align-items: center;
    overflow: hidden;
  }
  .promo-title {
    font-size: 31px;
    line-height: 39px;
    width: 317px;
    margin: 183px 0 0 0;
    text-align: center;
  }
  .promo-icon {
    width: 680px;
    height: 230px;
    position: static;
    margin: 60px 0 40px 0;
  }
}
